.loginarea{
	max-width: 320px;
	margin: 0 auto;
	margin-top: 10px;
	border: 2px solid #CCC;
	border-radius: 10px;
	padding: 20px;
}
.titulo{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
hr{
	border: 1px solid #CCC;
}

input[type="text"],
input[type="password"]{
	width: 100%;
	height: 40px;
	border: 1px solid #CCC;
	border-radius: 5px;
	outline: 0;
	padding-left: 10px;
}
input[type="submit"]{
	width: 100%;
	height: 40px;
	cursor: pointer;
	background-color: #222;
	border: 1px solid #555;
	color: #FFF;
	border-radius: 5px;
	width: 100%;
}
input[type="submit"]:hover{
	background-color: #555;
}