nav a{
	color: #999;
}
nav a:hover{
	color: #FFF;
}
.add {
	float: right;
}
#busca{
	width: 100%;
	height: 50px;
	padding-left: 10px;
	outline: 0;
}
.menu_item{
	width: 150px;
	background-color: #DDD;
	float: left;
	margin: 17px;
	padding: 20px;
	font-size: 17px;
	border-radius: 10px;
	text-align: center;
}
.menu_item a{
	display: block;
	color: #000;
	text-decoration: none;
}
.btnform{
	float: left !important;
	margin-right: 10px;
}
.userName {
	margin-right: 5px;
	margin-left: 5px;
	color: #FFF;
}
.estoque_baixo {
	margin-top: 5px;
	width: 85px;
	text-align: center;
	background-color: #FF2222;
	font-size: 12px;
	font-family: Franklin Gothic Book, Arial;
	box-shadow: 0px 0px 5px #666666;
	color: #FFF;
}
.estoque_bom {
	margin-top: 5px;
	width: 85px;
	text-align: center;
	background-color: #008000;
	font-size: 12px;
	font-family: Franklin Gothic Book, Arial;
	box-shadow: 0px 0px 5px #666666;
	color: #FFF;
}
.pag a {
	padding: 5px 10px;
	background-color: #999;
	font-size: 16px;
	color: #FFF;
}
.pag a:hover{
	background-color: #333;
	text-decoration: none;
}
.searchresults {
	width:370px;
	background-color:#FFF;
	position:absolute;
	border:1px solid #CCC;
	border-radius: 5px;
}
.si {
	height:30px;
	line-height: 30px;
	padding-left:10px;
	cursor:pointer;
}
.si a {
	color:#000;
	text-decoration: none;
	display:block;
}
.si:hover {
	background-color:#EEE;
}
#client_name{
	padding-left: 10px;
	float: left;
	width: 370px;
	height: 32px;
	border-radius: 5px;
	outline: 0;
	border:1px solid #CCC;
}
#status,
#total_price,
#add_prod{
	padding-left: 10px;
	width: 370px;
	height: 32px;
	border-radius: 5px;
	outline: 0;
	border:1px solid #CCC;	
}
.btn_add_client{
	padding-top: 2px;
	margin-left: 5px;
	float: left;
	font-weight: bolder;
	cursor: pointer;
	height: 32px;
}
fieldset{
	border: 1px solid #CCC;
	padding-left: 10px;
	padding-right: 975px;
	padding-bottom: 15px;
}
legend{
	font-size: 15px;
}
.p_quant {
	width:50px !important;
	padding-left: 5px;
}